@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@font-face{
    font-family: Alata;
    src: url("Alaba-Regular.ttf");
}

html body {
    height: 100%;
    font-family: Alata;
}


:root {
    --primary-color: #141415;
    --secondary-color: #214E34;
    --accent1-color: #364156;
    --accent2-color: #C3C2C2;

    --heading-font: 'Alata', serif;
    --paragraph-font: 'Alata', serif;

    --nav-background-color: #011638;
    --nav-link-color: #d3cece;
    --nav-hover-link-color: #7c7d7e;
    --nav-hover-background-color: #214E34;
}      

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
}

header nav {
    background-color: var(--primary-color);
    padding: 20px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 25px;
    max-width: 10000px;
    text-align: right;
}

header a {
    display: block;
    color: var(--accent2-color);
    text-decoration: none;
    margin: 0 50px;

}

.home img {
    width: 130px;
    height: auto;
}

.two img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    font-size: 2rem;
    font-family: Alata;
    background-color:  #00000076;
    width: 97.5%;
    padding: 20px;
    margin: 0;
}

.two h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent2-color);
    display: flex;
    justify-content: center;
}


/*------------------------------------------------------------------



nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a { 
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem
}
nav a:link, nav a:visited {
    color:var(--nav-link-color);
}
nav a:hover {
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
*/