@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@font-face{
    font-family: Alata;
    src: url("Alaba-Regular.ttf");
}

html body {
    height: 100%;
    font-family: Alata;
}


:root {
    --primary-color: #011638;
    --secondary-color: #214E34;
    --accent1-color: #364156;
    --accent2-color: #C3C2C2;

    --heading-font: 'Alata', serif;
    --paragraph-font: 'Alata', serif;

    --nav-background-color: #011638;
    --nav-link-color: #d3cece;
    --nav-hover-link-color: #7c7d7e;
    --nav-hover-background-color: #214E34 ;
   
header {
        padding: 20px;
        background-color: var(--primary-color);
        text-align: center; /* Centra el texto */
}
    
h1 {
        font-family: var(--heading-font);
        color: var(--accent2-color);
        font-weight: bolder;
        background-color: #011638; 
        display: inline-block; 
        padding: 20px 30px; 
 }    
    
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a { 
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem
}
nav a:link, nav a:visited {
    color:var(--nav-link-color);
}
nav a:hover {
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}